@media print {
    p { 
        font-size: 16px;
    }
    video, audio {
        display: none;
    }
    h1,h2,h3{
        page-break-after: avoid;
    }
}

a{
    text-decoration: none;
    color: aliceblue;
}

h1{
    display: inline-block;
    padding:1px;
    text-align: center;
    text-shadow: 5px 2px rgb(92, 40, 40);
    color: white;
}

h2{
    padding:1px;
    text-align: center;
    text-shadow: 5px 2px rgb(92, 40, 40);
    animation: nameAnimtaion 2s ease-in-out;
    color: white;
}

@keyframes threeDimensionAnim{
    from{
        transform: rotate3d(0);
    } to {
        transform: rotate3d(1, 1, 0.5, 360deg);
    }
}

h1:after{
    content: "";
    display: block;
    border-bottom:solid 5px white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

h1:hover::after{
    transform: scaleX(1);
}

h1:hover{
    animation: threeDimensionAnim 2s ease-in-out;
}

.queen, .Slipknot{
    text-align: center;
    color: aliceblue;
}

@keyframes nameAnimtaion{
    from{
        opacity: 0;
        
    } to {
        opacity: 1;
    }
}

iframe{
    padding: 1px;
    margin: 1px;
}

.queen .container, .Slipknot .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}


.Slipknot mark{
    background-color: red;
    color:white;
}

@media screen and (max-width: 500px){
    .container{
        display: grid;
        list-style: none;
    }
}




