.korvonal{
    outline:1px green solid;
}

.terkep{
    border: 5px hotpink solid;
}

div p{
    color:blue;
}

p[target="_blank"]{
    text-decoration: underline;
}

img{
    width:1300px;
}

.masikmaradek{

}

@media screen and (max-width: 992px) {
    div p{
        color:pink;
    }
}

.newspaper{
    column-count: 4;
}

.pepsi{
    position: absolute;
    width:500px;
    z-index: -1;
}

.hehe{
    color:black;
    font-size: 32px;
    font-style: normal;
    font-family: Arial;
}